<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <typeAliases>
    <typeAlias alias="user" type="mybatis.chapter1.bean.User"/>
   </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      
   
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/bsol"/>
        <property name="username" value="root"/>
        <property name="password" value="Root"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="mybatis/chapter1/mapper/UserMapper.xml"/>
  </mappers>
</configuration>